name: x86-Darwin

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Dependencies
        run: |
          brew update
          brew install llvm googletest
      - name: Build type-correct + run tests
        run: |
          mkdir "$GITHUB_WORKSPACE"'/build' && cd "$_"
          cmake -DCT_Clang_INSTALL_DIR="$(brew --prefix llvm)"/  ../
          cmake --build .
          ctest .
