name: x86-Ubuntu

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Dependencies
        run: |
          wget -O - 'https://apt.llvm.org/llvm-snapshot.gpg.key' | sudo apt-key add -
          sudo apt-add-repository "deb https://apt.llvm.org/noble/ llvm-toolchain-noble-19 main"
          sudo apt update
          sudo apt install -y llvm-19 llvm-19-dev clang-19 libclang-common-19-dev libclang-19-dev llvm-19-tools googletest
      - name: Build type-correct + run tests
        run: |
          mkdir "$GITHUB_WORKSPACE"'/build' && cd "$_"
          # Test with Clang_ROOT
          cmake -DClang_ROOT='/usr/lib/llvm-19/lib/cmake/clang/' ../
          cmake --build .
          ctest .
