name: x86-Darwin-llvm-from-sources

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ninja and Google Test
        run: |
          brew install ninja googletest
      - name: Cache llvm-project
        id: cache-llvm-project
        uses: actions/cache@v5
        with:
          path: llvm-project
          key: ${{ runner.os }}-llvm-project-75e33f71c2dae584b13a7d1186ae0a038ba98838
      - name: Clone llvm-project
        uses: actions/checkout@v6
        with:
          repository: "llvm/llvm-project"
          ref: 75e33f71c2dae584b13a7d1186ae0a038ba98838
          # release/13.x ^ @ 20/01/2022
          path: llvm-project
        if: steps.cache-llvm-project.outputs.cache-hit != 'true'
      - name: Build LLVM & Clang
        if: steps.cache-llvm-project.outputs.cache-hit != 'true'
        run: |
          mkdir "$GITHUB_WORKSPACE"'/llvm-project/build' && cd "$_"
          cmake -G Ninja \
            -DCMAKE_BUILD_TYPE='Release' \
            -DLLVM_ENABLE_PROJECTS='clang;libcxx;libcxxabi' \
            -DLLVM_TARGETS_TO_BUILD='X86' \
            -DLLVM_OPTIMIZED_TABLEGEN='ON' \
            -DLLVM_INCLUDE_TESTS='OFF' \
            -DDEFAULT_SYSROOT="$(xcrun --show-sdk-path)" \
            ../llvm
          cmake --build .
      - name: Build type-correct + run tests
        run: |
          mkdir "$GITHUB_WORKSPACE"'/build' && cd "$_"
          cmake -DCT_Clang_INSTALL_DIR="$GITHUB_WORKSPACE/llvm-project/build" ../
          cmake --build .
          ctest .
